*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
# Ignore all module build outputs
**/build/
**/.transforms/
**/intermediates/
**/outputs/
*.apk
*.dex
/captures
.externalNativeBuild
.cxx
local.properties

# Local environment overrides
.env.local
server/.env.local

vtempe-release.jks
