<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://vtempe-server-eoofh53gda-ew.a.run.app</string>
	<key>APP_TOKEN</key>
	<string>vt-a8f3c2b9d5e1f7a4b6c0d3e5f8a2b4c7</string>
</dict>
</plist>
